{% extends 'EventBundle::layout.html.twig' %}
{% block title 'Index' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="link" href="{{ path('logout') }}">
            Logout {{ app.user.username }}
        </a>
    {% else %}
        <a class="link" href="{{ path('login_form') }}">Login</a>
    {% endif %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time</th>
                <th>Location</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{ render(controller('EventBundle:Event:_upcomingEvents')) }}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
